.contact {
    padding-top: 10vh;
    padding-bottom: 3vh;
    min-height: 87vh;
    display: grid;
    place-items: center;
    height: max-content;
}

.contact__body {
    background-color: #f9fafa;
    width: 80%;
    max-width: 50em;
    min-height: 65vh;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

}